body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
  }
  
  h1 {
    color: #434f5b;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  